<!-- home.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Question/Answer Engine</title>
</head>
<body>
	<h1>Question/Answer Engine</h1>
	<form action="/generate" method="POST">
		<label for="num_questions">Enter the number of Questions you want to generate :</label>
		<input type="number" id="num_questions" name="num_questions" min="1" max="1000" required>
		<button type="submit">Generate</button>
		<br><br>
	</form>

	<form method="POST" action="/gpt">
		<label for="dataset-link">Please insert the link to the dataset :</label>
		<input type="text" id="link_ds" name="link_ds">
		<!--<button type="submit">Submit</button>-->
		<br><br>

        <label for="question-type">Select question type:</label>
        <select id="question-type" name="question_type">
            <option value="1">Coding Question</option>
            <option value="2">Concept question</option>
        </select>
        <br><br>

        <label for="question-input">Enter your question:</label>
        <input type="text" id="question-input" name="question">
		<button type="submit">Get Answer</button>
		<br><br>

		<label for="answer-output-text">Text Answer:</label>
        <textarea id="answer-output-text" rows="4" cols="50" readonly>{{ answer_text }}</textarea>
        <br><br>
        <label for="answer-output">Coding Answer:</label>
        <textarea id="answer-output" rows="4" cols="50" readonly>{{ answer }}</textarea>
        <br><br>

    </form>
	<script type="text/javascript" src="//cdn.datacamp.com/dcl-react.js.gz"></script>
	<div data-datacamp-exercise data-lang="r">
		<code data-type="pre-exercise-code">
			# This will get executed each time the exercise gets initialized
			b = 6
		</code>
		<code id="sample-code" data-type="sample-code">
			{{ answer }}
		</code>
		<!-- <code data-type="solution">
			# Create a variable a, equal to 5
			a <- 5
	
			# Print out a
			print(a)
		</code> -->
		<!-- <code data-type="sct">
			test_object("a")
			test_function("print")
			success_msg("Great job!")
		</code> -->
		<!-- <div data-type="hint">Use the assignment operator (<code><-</code>) to create the variable <code>a</code>.</div> -->
	</div>

</body>
</html>
